#upload:hover{
	background-color: #1E8BC3;
}

#release:hover{
	background-color: #3FC380;
}

#hold:hover{
	background-color: #F5AB35;
}

#resulthead{
	text-align: center;
}

#view_res{
	float: right;
}

#clear_txt{
	/*float: right;*/
}

#result_header{
	text-align: center;
}

#result{
	text-align: center;
}